#container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.01fr 0.01fr 0.06fr 1fr 0.30fr 0.1fr ;
    grid-template-areas:
    'hd1 hd1 hd1 hd1'
    'hd2 hd2 hd2 hd2'
    'nv nv nv nv'
    'sec sec sec sec'
    'sec sec sec sec'
    'ft ft ft ft' ;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(235, 98, 160);   
    background: rgb(239, 146, 188);
}

.nav div {
    width: 360px;
    height: 50px;  
    background-color: rgb(239, 146, 188);
    text-align: center;
    line-height:50px ;
}

.nav {
    border: 5px;
    display: flex;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
}

a:hover{
    color: rgb(255, 232, 250);
}


#hd1 {
    grid-area: hd2;
    background-color: rgb(255, 232, 250);
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}

#hd2 {
    grid-area: hd1;
    background-color: rgb(239, 146, 188);
    border-bottom: 5px;
    font-weight: bolder;
    font-size: large;
    color: rgb(231, 74, 145);
}

nav {
    grid-area: nv;
    background-color: rgb(244, 151, 193);
}

section {
    grid-area: sec;
    background-color: rgb(245, 181, 210);
    position: relative;
    
}

footer {
    grid-area: ft;
    background-color: rgb(239, 146, 188);
    text-align: right;
}

h1 {
    display: flex;
    margin: 0%;
    justify-content: center;
}

h2 {
    grid-area: hd;
    justify-content: center;
    margin: 0.8%;
    font-size: 130%;
    color: rgb(231, 74, 145);
    display: flex
}

h3 {
    font-size: 500%;
    text-align: center;
    font-family: cursive;
    margin: 0%;
    padding: 2.3%;
    color: rgb(231, 74, 145);
}

#h4 {
    font-size: 200%;
    text-align: center;
    margin: 0%;
    color: rgb(231, 74, 145);
}

#h5 {
    font-size: 200%;
    text-align: center;
    display: inline;
    color: rgb(231, 74, 145);
}

.p1 {
    color: purple;
}

.p2 {
    color: orange;
}

.p3 {
    color: rgb(249, 131, 198);
}

.p4 {
    color: rgb(248, 217, 102)
}

.p5 {
    color: rgb(231, 74, 145);
}

.p6 {
    color: orange;
    position: relative;
    top:-10px;
}

.p7 {
    color: rgb(248, 217, 102);
}

.p8 {
    color: blueviolet;
}

.p9 {
    color: rgb(252, 148, 212);
}

#meny {
    height: 3.5rem;
    width: 5rem;
    margin-top: 0px;
}

#varukorg {
    top: 100px;
    height: 0.1rem;
    width: 0.1rem;
    color: rgb(231, 74, 145);
    margin-top: -75px;
}

#varukorg img{
    width: 65px;
    height: 65px;
}

#meny div {
    border: 3px solid rgb(231, 74, 145);
    margin: 10%;
    height: 0.1px;
    width: 50px;    
    background-color: rgb(231, 74, 145);
}

.cardWrapper {
    display: flex;
    gap: 10%;
    flex-wrap: nowrap;
    margin: 2% auto;
    background-size: cover;
    justify-content: center;
}

.cardWrapper div {
   border: 5px dotted rgb(231, 74, 145);
    width: 190px;
    height: 315px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(231, 74, 145);
    font-weight: bolder;
    font-size: 25px;
}

.card1 {
    background-image: url('../img/choklad.jpg');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}

.card2 {
    background-image: url("../img/geleråttor.jpg");
}

.card3 {
    background-image: url("../img/sur\ patron.jpg");
}
 
.card4 {
    background-image: url("../img/twinkie.jpg");
}

.cardWrapper div p {
    position: absolute;
    top: 83%;
}

#aside1 {
    font-size: larger;
}

#p10 {
    font-weight: 900;
}

#p11 {
    font-weight: 900;
}

.imgcard {
    display: flex;
    gap: 20%;
    flex-wrap: nowrap;
    margin: 2% auto;
    background-size: cover;
    justify-content: center;
}

.imgcard div {
    border: 5px dotted rgb(231, 74, 145);
    width: 315px;
    height: 315px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(231, 74, 145);
    font-weight: bolder;
    font-size: 25px;
}

.imgcard div p {
    position: absolute;
    top: 83%;
}

.card0 {
    background-image: url("../img/bakom\ kulisserna.jpg");
}

.pricecard {
    display: flex;
    gap: 3%;
    flex-wrap: nowrap;
    margin: 4%;
    background-size: cover;
    justify-content: center;
    padding: 0%;
}

.pricecard div {
   border: 5px dotted rgb(231, 74, 145);
    width: 315px;
    height: 315px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(231, 74, 145);
    font-weight: bolder;
    font-size: 25px;
}

.pricecard div p {
    position: absolute;
    top: -1%;
}

.card-1 {
    background-image: url("../img/kund\ sida.jpg");
}

#p13 {
    font-size: 25px;
    font-weight: 900;
}

#p14 {
    font-weight: 500;
    font-size: 20px;
}

#p15 {
    font-size: 20px;
    font-weight: 400;
}

#aside2 {
    flex: 1px;
    text-align: left;

}

@media (max-width: 700px) {
  


.nav {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    max-width: 50%;
    overflow-x: hidden;
}

#conatiner {
    max-width: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 0 10px;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
}

#hd1 #hd2 .pricecard #meny {
    max-width: 50%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#varukorg {
    max-width: 70%;
    word-wrap: break-word;
    width: 30px;
}


}

#kund {
    border: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    color: black;
    font-size: 18px;
}

.text {
    border: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    color: black;
    font-weight: 100;
}
 

#p17 {
    background-color: rgb(231, 74, 145);
}

#p18 {
    background-color: rgb(231, 74, 145);
}

#p19 {
    background-color: rgb(231, 74, 145);
}

#p20 {
    background-color: rgb(231, 74, 145);
}
